<div class="container">
  <div class="section">

    <div class="row">
      <div class="col m2">
      </div>
      <div class="col m8">
          <h5 class="center">About me</h5>
          <p>{{person.description}}</p>
      </div>
      <div class="col m2">
      </div>
    </div>

    <!--   Icon Section   -->
    <div class="row">
      <div class="col m2">
      </div>
      <div class="col m2">
        <h5 class = "right">Biography</h5>
      </div>
      <div class="col m6">
        <div class="icon-block cv-list">
          <p class="light">{{person.firstname}} {{person.lastname}}</p>
          <p class="light">{{person.birtdate}}</p>
          <p class="light">{{person.email}}</p>
          <p class="light">{{person.address.0.city}} {{person.address.0.country}}</p>
        </div>
      </div>
      <div class="col m2">
      </div>
    </div>

    <div class="row">

        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Experience</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.experience}}
              <p class ="border"></p>
              <p class="light">{{this.employer}}</p>
              <p class="light">{{this.title}}</p>
              <p class="light">{{this.startdate}} - {{this.enddate}}</p>
              <br>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Education</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.education}}
              <p class="light">{{this.school}}</p>
              <p class="light">{{this.program}}</p>
              <p class="light">{{this.degree}}</p>
              <p class="light">{{this.startdate}} - {{this.graduated}}</p>
              <br>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Qualifications</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              {{#each person.qualifications}}
              <p class="light">{{this}}</p>
              {{/each}}
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
        <div class="row">
          <div class="col m2">
          </div>
          <div class="col m2">
            <h5 class = "right">Portal</h5>
          </div>
          <div class="col m6">
            <div class="icon-block cv-list">
              <p class="light"><a href={{person.links.0.linkedin}}>LinkedIn</a></p>
              <p class="light"><a href={{person.links.0.github}}></a>Github</p>
            </div>
          </div>
          <div class="col m2">
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
